body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

h1,
h2 {
  color: #939090;
}

/*FORM*/
.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  margin-bottom: 20px;
}
form {
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
#deleteForm {
  width: 49%;
}
.form-group {
  margin-right: 15px;
  flex: 1;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

/* Stile per i pulsanti di eliminazione */
.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

/*CARDS*/
#productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.product-card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 10px;
}

.product-card img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-card h3 {
  font-size: 1.2em;
  color: #007bff;
}

.product-card p {
  font-size: 1em;
  color: #333;
}

@media (max-width: 768px) {
  .form,
  .product-list {
    width: 90%;
  }

  .product-card {
    width: calc(50% - 20px);
  }
}
