.container {
  text-align: center;
}

.adviceContainer {
  border-radius: 10px;
  margin-top: 1rem;
  padding: 1rem;
}

.adviceId {
  color: var(--neon-green);
  font-size: 0.9rem;
}

.adviceText {
  color: var(--text);
  font-size: 1.2rem;
  margin-top: 0.6rem;
}
.adviceText:before,
.adviceText:after {
  content: '"';
  letter-spacing: 0;
}
/*BUTTON*/
.button {
  align-items: center;
  background-color: var(--neon-green);
  border: none;
  border-radius: 50%;
  position: absolute;
  color: var(--text);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 3.2rem;
  justify-content: center;
  left: 51%;
  bottom: 0;
  transform: translate(-50%, 50%);
  transition: background-color 0.3s ease;
  padding: 0.5rem;
  width: 3.2rem;
}

.button:active {
  box-shadow: 0 0 10px var(--neon-green);
}
