@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");
html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
  background-image: url("./assets/1f3de.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 30px;
  color: #1da1f2;
  text-shadow: 0 8px 9px #9da1c4, 0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: -4px;
  text-align: center;
  background: linear-gradient(to bottom, #ebf3fdda 0%, #d1e0e9 100%);
  padding: 16px 44px;
  top: 50%;
  left: 50%;
  border-radius: 20px;
}
