@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
html {
  background-color: #202632;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
}
/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
  margin: 0;
}
