@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  border-radius: 20px;
  width: 120vh;
}

form {
  background-color: var(--White);
  width: 100%;
  max-width: 489px;
  max-height: 480px;
  padding: 40px;
  border-radius: 16px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 700;
  text-align: start;
}
fieldset {
  width: 50%;
  display: flex;
}
.containerWrapper input,
fieldset {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: white;
}

/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: start;
}
.clearAll {
  cursor: pointer;
  text-decoration: underline;
  color: var(--Slate-500);
}
/*MORTGAGE AMOUNT*/
.mortgageTermRate,
.amount {
  margin-top: 10px;
  width: 102%;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.amount label {
  margin-right: 10px;
}

.inputAmount {
  display: inline-flex; /* Utilizziamo inline-flex per allineare lo span e l'input orizzontalmente */
  align-items: center;
  border: 1px solid #ccc; /* Aggiungiamo un bordo per tutto l'inputAmount */
  border-radius: 5px; /* Arrotondiamo i bordi */
}

.inputAmount span {
  background-color: var(--Slate-100);
  font-size: 18px;
  color: var(--Slate-900);
  font-weight: 700;
  width: 40px;
  height: 40px;
  align-content: center;
  text-align: center;
}

.inputAmount input {
  flex: 1; /* Facciamo espandere l'input per occupare tutto lo spazio disponibile */
  border: none; /* Rimuoviamo il bordo dell'input per nasconderlo */
  outline: none; /* Rimuoviamo l'outline di default dell'input */
  font-size: 16px;
}

/*Mortgage Term Rate*/
.mortgageTermRate {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mortgageTerm,
.interestRate {
  width: 50%;
}
.termYears {
  margin-right: 15px;
}
.interestRate {
  margin-left: 15px;
}
input[name="termYears"],
input[name="interestRate"] {
  width: 94%;
}
.inputTerm span {
  width: 50px;
}
/*Mortagage Type*/
.query {
  width: 100%;
  margin-right: 10px;
  gap: 10px;
  flex-direction: column;
  display: flex;
}
.mortagageType {
  width: 100%;
  margin-top: 10px;
  text-align: start;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

.repayment,
.interestOnly {
  width: 98%;
}

/*SUBMIT*/
.submitBtn,
.submitBtn input {
  color: var(--Slate-900);
  display: flex;
  background-color: var(--Lime);
  align-items: center;
  width: 260px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  padding: 7px;
  font-weight: 900;
  text-align: start;
}
.submitBtn svg {
  padding: 0 5px 0 25px;
}
/*RESULT SHOW HERE*/
.resultDefault {
  background-color: var(--Slate-900);
  width: 100%;
  padding: 40px;
  max-width: 489px;
  height: 480px;
  border-radius: 0% 4% 3% 18%;
  align-content: center;
  text-align: center;
}

/*ERROR*/
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.input-error {
  border-color: red;
}

input:focus {
  border-color: var(--Lime);
}
