@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--White);
  border-radius: 20px;
  width: 100vh;
}

form {
  background-color: var(--White);
  width: 100%;
  max-width: 489px;
  max-height: 480px;
  padding: 40px;
  border-radius: 16px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: 700;
  text-align: start;
}
fieldset {
  width: 50%;
  display: flex;
  border-radius: 5px;
}
.containerWrapper input,
fieldset {
  padding: 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: white;
}

/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h1 {
  font-size: 25px;
  line-height: 100%;
  letter-spacing: -1px;
  font-weight: bold;
  text-align: start;
}
.clearAll {
  cursor: pointer;
  text-decoration: underline;
  color: var(--Slate-500);
}
.mortgageTermRate,
.amount {
  margin-top: 10px;
  width: 102%;
  text-align: start;
  display: flex;
  flex-direction: column;
}
.inputAmount:focus-within,
.inputTerm:focus-within,
.inputRate:focus-within {
  border-color: var(--Lime);
}

/*MORTGAGE AMOUNT*/
.amount label {
  margin-right: 10px;
}

.inputAmount {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.inputAmount span {
  background-color: var(--Slate-100);
  font-size: 18px;
  color: var(--Slate-900);
  font-weight: 700;
  width: 40px;
  height: 40px;
  align-content: center;
  text-align: center;
  border-radius: 5px 0px 0px 5px;
}

.inputAmount input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

/*Mortgage Term and Rate*/
.mortgageTermRate {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.mortgageTerm,
.interestRate {
  width: 50%;
}
.termYears {
  margin-right: 15px;
}
.interestRate {
  margin-left: 15px;
}
input[name="termYears"],
input[name="interestRate"] {
  width: 94%;
}
/*Mortgage Term*/
.inputTerm {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.inputTerm span {
  background-color: var(--Slate-100);
  font-size: 18px;
  color: var(--Slate-900);
  font-weight: 700;
  width: 70px;
  height: 40px;
  align-content: center;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

.inputTerm input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}
/*interest Rate*/
.inputRate {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.inputRate span {
  background-color: var(--Slate-100);
  font-size: 18px;
  color: var(--Slate-900);
  font-weight: 700;
  width: 40px;
  height: 40px;
  align-content: center;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
}

.inputRate input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

/*Mortagage Type*/
.query {
  width: 100%;
  margin-right: 10px;
  margin-top: 10px;
  gap: 10px;
  flex-direction: column;
  display: flex;
}
.mortagageType {
  width: 100%;
  margin-top: 10px;
  text-align: start;
}

input[type="radio"] {
  margin-right: 10px;
}
input[type="radio"] {
  color: var(--Lime);
}
.fieldsetSelected {
  background-color: hsl(61, 91%, 91%);
  border-color: var(--Lime);
}
.repayment,
.interestOnly {
  width: 98%;
}

/*SUBMIT*/
.submitBtn,
.submitBtn input {
  color: var(--Slate-900);
  display: flex;
  background-color: var(--Lime);
  align-items: center;
  width: 260px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  padding: 7px;
  font-weight: 900;
  text-align: start;
}
.submitBtn svg {
  padding: 0 5px 0 25px;
}
/*RESULT SHOW HERE*/
.resultDefault {
  background-color: var(--Slate-900);
  width: 100%;
  padding: 40px;
  max-width: 489px;
  height: 480px;
  border-radius: 0% 4% 3% 18%;
  align-content: center;
  text-align: center;
}

/*ERROR*/
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.input-error {
  border-color: red;
}

input:focus {
  border-color: var(--Lime);
}
