.card {
  width: 500px;
  height: 500px;
  padding: 10px;
  margin: 50px 50px 50px 90px;
}
.card span {
  text-transform: uppercase;
}
.card h1 {
  text-transform: capitalize;
  font-size: 3em;
  margin: 10px 0px 30px 0px;
}
.price {
  margin: 20px 0px;
}
.price span {
  font-weight: 900;
  margin-right: 10px;
}
.price button {
  background-color: var(--Black);
  border-radius: 5px;
  color: var(--White);
  padding: 3px 6px;
}
.price p {
  text-decoration: line-through;
  color: var(--DarkGrayishBlue);
  font-weight: 700;
}
.setBtns {
  display: flex;
  height: 50px;
  gap: 15px;
  margin: 20px 0px;
}
