:root {
  --overlay-color: rgba(0, 0, 0, 0.4);
  --text-color: #333;
  --shadow-color: #5a5255;
  --modal-bg-color: #f7e7b4;
  --background-color: #e8f4ea;
  --white-color: #fff;
  --close-btn-color: #ff580f;
  --close-btn-hover-color: #df5a00;
  --secondary-color: #b8dbd3;
  --primary-color: #68c4af;
  --heading-color: #559e83;
}
.modal {
  width: 30%;
  height: auto;
}

.modal-content {
  background-color: var(--secondary-color);
  margin: 15% auto;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  width: 80%;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-between;
}
label {
  display: block;
  margin-bottom: 5px;
  color: var(--form-label-color);
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--form-input-border-color);
  border-radius: 5px;
  box-sizing: border-box;
  background-color: white;
  color: var(--form-input-text-color);
}

input[type="submit"] {
  background-color: var(--form-submit-btn-bg-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--form-submit-btn-hover-bg-color);
}
#checkID {
  display: flex;
  width: 100%;
}
#checkIdBtn {
  margin: 0 10px;
}
#editProductId {
  width: 50%;
  margin-left: 10px;
  padding: 5px;
  height: 30px;
}
.error-message {
  color: #cc0033;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  margin: 5px 0 0;
}
