:root {
  --background-color: #e8f4ea;
  --overlay-color: rgba(0, 0, 0, 0.4);
  --secondary-color: #b8dbd3;
  --primary-color: #68c4af;
  --heading-color: #559e83;
}
#logIn {
  width: 160px;
}
/* MODAL LOGIN-SIGN */
.modalUser {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--overlay-color);
}
.modal-content-user {
  background-color: var(--secondary-color);
  margin: 15% auto;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  width: 50%;
  color: black;
}

.container {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.2);
}

.formUser {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formUser.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formUserAccess {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form--heading {
  font-size: 25px;
  height: 50px;
  color: #129d72;
}

.inputUser {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 13px;
  font-weight: 300;
  color: #797a9e;
}

.inputUser::placeholder {
  color: #333;
  font-size: 10px;
}

.inputUser:focus {
  outline: 0;
  border-bottom: 1px solid rgba(18, 157, 114, 0.7);
  transition: 0.6s all ease;
}

.btn-wrapper .buttonUser {
  width: 30%;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.close {
  color: var(--close-btn-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--close-btn-hover-color);
  text-decoration: none;
  cursor: pointer;
}
