@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap");
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  background-color: #c396f7;
  position: relative;
  backdrop-filter: blur(3px);
}

body::before {
  content: "";
  background-image: url(../assets/img/2025326.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/*LAYOUT*/
.layout {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

/*HEADER*/
header h1,
footer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  background: rgb(215, 189, 246);
  background: linear-gradient(
    90deg,
    rgba(215, 189, 246, 1) 0%,
    rgba(176, 206, 255, 1) 50%,
    rgba(215, 189, 246, 1) 100%
  );
  height: 100px;
  border-radius: 20px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.336);
  font-weight: 700;
  text-shadow: 2px 2px 0px #7ba0f1, 4px 4px 0px #506aff;
  font-size: 50px;
}

.title-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}
.title-wrapper span {
  font-size: 35px;
}
.category-icon {
  height: 50px;
  width: 50px;
  align-items: center;
}
h2 {
  display: flex;
}

/*MAIN*/
main {
  background-color: rgba(255, 255, 255, 0.623);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  padding: 20px 0;
  justify-content: space-evenly;
}

.card {
  width: 300px;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aliceblue;
  border-radius: 16px;
  margin: 20px 0;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}
.card__title {
  text-transform: capitalize;
  text-align: center;
  color: #7f6f79;
  width: 100%;
}
.text {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
span {
  text-align: center;
  margin-left: 10px;
}

/* BOTTONE ADD*/
.card__btn {
  width: 60px;
  padding: 6px;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: 0;
}
.card__btn:active {
  box-shadow: rgb(134, 137, 141) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.253) -3px -3px 6px 1px inset;
}

.card__input {
  width: 200px;
  padding: 6px 20px;
  background-color: white;
  border: 0.5px solid lightgray;
  border-radius: 15px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  outline: none;
}

/*LISTA ITEMS*/

ul {
  margin-left: 20px;
  margin-bottom: 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  justify-content: space-between;
}
li span:nth-child(2) {
  width: 70%;
  text-align: left;
}
.select {
  cursor: pointer;
  color: gray;
  font-weight: 900;
}
.select:hover,
.select.active {
  color: rgb(49, 189, 49);
}
.checked {
  text-decoration: line-through;
  color: gray;
}

.edit {
  cursor: pointer;
}
footer {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 16px;
  text-shadow: 1px 1px 0px #7ba0f1, 2px 2px 0px #506aff;
}
