@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --DarkBlue: hsl(218, 23%, 16%);
    --BluGrey: hsl(217, 19%, 24%);
    --NeonGreen: hsl(150, 100%, 66%);
    --Text: hsl(193, 38%, 86%);
  }
}
