/*BOTTONI PAGINAZIONE*/
.pagination {
  position: sticky;
  text-align: center;
  margin: 10px;
}
#prevPageBtn,
#nextPageBtn {
  width: 15em;
  height: 2rem;
  border-radius: 10px;
  background-color: #eccd35;
}
#prevPageBtn:hover,
#nextPageBtn:hover {
  background-color: #f46936;
}
