.button {
  background-color: var(--Orange);
  border: none;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
  padding: 16px 64px;
  font-weight: 700;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}
