.counter {
  background-color: var(--LightGrayishBlue);
  display: flex;
  justify-content: space-between;
  width: 150px;
  border-radius: 10px;
}
.counter button {
  all: unset;
  padding: 8px 16px;
}
.counter div {
  align-content: center;
  text-align: center;
}
